<div class="ch-container">
    <div class="row">

        <div class="row">
            <div class="col-md-12 center login-header">
                <h2>Welcome to Charisma</h2>
            </div>
            <!--/span-->
        </div><!--/row-->

        <div class="row">
            hello {{ name }}
            <!--/span-->
        </div><!--/row-->
    </div><!--/fluid-row-->

</div>
{% endblock %}
